
*/bin
*/obj
bin/
obj/
.fake
.ionide
src/Transfer/bin/Debug/netcoreapp3.1/fr/FSharp.Core.resources.dll
*/bin/*
/blaz/
blazClient/
"published apps"/
published apps
Publish-Linux/*
/Publish-Win/*
testSource*
Publish
src/Transfer/TransferClient/logs
ContainedPublish
*.history

src/Transfer/TransferClient/testDest/

src/Transfer/TransferClient/watchSource/
src/Transfer/TransferClient/vdcp1Dest




# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
.idea
.vs
