
*/bin
*/obj
bin/
obj/
.fake
.ionide
src/Transfer/bin/Debug/netcoreapp3.1/fr/FSharp.Core.resources.dll
*/bin/*
/blaz/
blazClient/
"published apps"/
published apps
Publish-Linux/*
testSource*
Publish
src/Transfer/TransferClient/logs
ContainedPublish
*.history

src/Transfer/TransferClient/testDest/

src/Transfer/TransferClient/watchSource/
src/Transfer/TransferClient/vdcp1Dest