@inherits LayoutComponentBase
@using HostedBlazor.Data
@inject DataGetter Getter
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("initialising main Layout");
        await Getter.StartService();
    }

}