@page "/{Name}"
@using System.Collections.Generic
@using blaz.Data
@using System;
@using System.Threading
@using System.Threading.Tasks
@using SharedFs
@using HostedBlazor.Data
@inject DataGetter Getter
@code{
    [Parameter]
    public string Name { get; set; }
protected override async Task OnInitializedAsync()
    {
          Getter.newData+=StateHasChanged;
    }
}
@{

}

<h1>Transfer Monitoring</h1>
<p>Connected to transfer server at: @Getter.transferServerUrl</p>

@if (Getter.status==Status.Loading)
{
    <p><em>Loading...</em></p>
}
else if (Getter.status==Status.NoConnection){
<p><em>Connot Connect to server</em></p>
}
else if (Getter.status==Status.DataError){
<p><em>Data recieved is malformed</em></p>
}
else
{
    <table class="table">
        <div>  
            @if(Name=="All"){
                @foreach (var pair in Getter.CopyTasks)
                {
                    <TransferTaskRender groupName="All" copyTasks="@pair.Value"/>
                }
            }
            else
            {
                <TransferTaskRender groupName="@Name" copyTasks="@Getter.CopyTasks[Name]"/>
            } 
            
        </div>
    </table>
}

