@inherits LayoutComponentBase
@using WebUI.Data
@inject DataGetter Getter
<div class="page">
<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
</div>
@code {
    
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("initialising main Layout");
        await Getter.StartService();
    }

}